extends layout

block content
  div.pageload-img
  div.background-imgA
  include head
  div.page-container(y_ctrl="home")
    include login-dialog
    div.article-list
      div.left_bg
      ul
        each item in info
          li
            h3
              a(href="http:/#{item.id}/") #{item.title}
            if item.content!=''
              div.preview!=item.content
            //div.info
            //  span 作者：#{item.name}
            //  span.pdate 日期：#{item.create_date}
            //  div.tabs
            //    each tab in item.tabs
            //      span.tab.fontello.icon-tabs    #{tab}